<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.helpmate">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Helpmate"
        tools:targetApi="31">
        <activity
            android:name=".about"
            android:exported="false" />
        <activity
            android:name=".education_admission_university"
            android:exported="false" />
        <activity
            android:name=".health_appointment"
            android:exported="false" />
        <activity
            android:name=".health"
            android:exported="false" />
        <activity
            android:name=".job"
            android:exported="false" />
        <activity
            android:name=".transport"
            android:exported="false" />
        <activity
            android:name=".emergency"
            android:exported="false" />
        <activity
            android:name=".education_admission"
            android:exported="false" />
        <activity
            android:name=".education_result"
            android:exported="false" />
        <activity
            android:name=".eduducation_textbook_class"
            android:exported="false" />
        <activity
            android:name=".education_textbook"
            android:exported="false" />
        <activity
            android:name=".education"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>